*, *::after, *::before{
    box-sizing: border-box;
}

html, 
body {
    overscroll-behavior-y: none;
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    min-width: 375px;
    height: 100vh;
    grid-template-columns: auto;
    justify-content: center;
    background-color: #F5F5F5;
}

/* Nav */


/* Combo classes */
nav, .nav-core{
    background: #FFFFFF;
}

.nav-core, .logo-and-site-title, .journal-links{
   display: flex ;
}

/* Individual clases */
nav{
    position: sticky;
    top: 0;
    z-index: 7;
}


.nav-core{
    justify-content: space-between;
    padding:20px 16px;
    margin-left: auto;
    margin-right: auto;
}


.journal-links a, .logo-and-site-title a{
    font-size: .875rem;
    color: #0E0E0E;
    text-decoration: none; 
}


.journal-links a{
    font-weight: 500;
}

.logo-and-site-title a{
    font-weight: 700;
}

.logo-and-site-title{
    align-items: center;
    gap:8px;
}

.journal-links{
    gap:8px; 
}

.site-logo{
    width: 24px;
    height: 24px;
}

/* Hero */

/* Combo classes */

.hero a::before, .hero-image, .opacity, .hero-text{
    position: absolute;
}

.hero, .hero-image, .opacity{
    width: 100%;
}

.hero-image, .opacity{
    height: 100%;
}

/* Individual classes */

.hero{
    position: relative; 
    z-index: 0;
    height: 29.2vh;
    min-height: 278px;
    margin-bottom: 2.25em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1095px;
    min-width: 390px;
}

.hero a{
    text-decoration: none; 
    color: #fff;
}

.hero a::before{
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.hero-image{
    z-index: 1;
    object-fit: cover;
    margin: auto;
    object-position: 0 70%;
}

.opacity{
    z-index: 2;
    background-color: rgba(0, 0, 0, .55);
}

.hero-text{
    color: #FFFFFF;
    z-index: 3;
    margin: 0 1em 0 0;
    top: 29.5%;
    left: 4.5%;
}

.hero-text .hero-date{
    font-size: .875rem;
    margin: 0;
}

.hero-text h1{
    font-size: 2rem;
    margin-top: .25em; 
    margin-bottom: .25em;
    line-height: 1em;
}

.hero-text .tagline-description{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.25em;
}

/* Blog Contents */

/* Combo classes */

.blog-contents .title-description, .page-paragraph{
    line-height: 1.25em;
}

.page-paragraph, .page-subtitle{
    color: #151515;
}

/* Individual classes */

.blog-contents{
    display: grid;
    grid-template-areas: 
    ". headline headline headline . "
    "image image image image image"
    ". contents contents contents ."
    ;
    row-gap: 2.19em;
    column-gap: 1.25em;
    margin-left: auto;
    margin-right: auto;
}

.blog-contents .title-description{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    /* line-height: 1.25em; */
}

.blog1-image{
    object-fit: cover;
    object-position:0px 65%;
    width: 100%;
    height: 19vh;
    min-height: 180px;
    max-height: 194px;
    grid-area: image;
}

.page-headline{
    grid-area: headline;
}

.page-contents{
    grid-area: contents;
}

.page-title{
    font-size: 2rem;
    margin-top: 1em; 
    margin-bottom: 1em;
    line-height: 1em;
}

.page-subtitle{
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: .5em;
}

/* About me */

.about-me-contents{
    display: grid;
    grid-template-areas: 
    ". image image . "
    ". headline headline ."
    ". description description ."
    ;
    column-gap: 1.25em;
    margin-left: auto;
    margin-right: auto;
}

.programmer{
    margin-top: 1.5em;
    grid-area: image;
    max-width: 182px;
}

.about-me-headline{
    grid-area: headline;
}

.about-me-text{
    grid-area: description;
    margin-top: 1em;
}

/* Recent Posts */

.recent-posts-title{
    display: block;
    text-align: center;
    font-size: 1rem;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

/* Journal Entries */

.journal-entries{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 40px;
    min-width: 390px;
}

.journal-entry{
    display: flex;
    flex-direction: column;
    width: 85.1vw;
    max-width: 380px;
    min-width: 374px;
    height: 27.75vh;
    min-height: 360px;
}

.journal-entry .journal-entry-date{
    font-size: .875rem;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0px;
}

.journal-entry .journal-subhead{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}

.journal-subhead{
    margin-bottom: .333em;
}

.journal-entry .journal-description{
    font-size: 1rem;
    line-height: 1.25em;
    margin: 0;
    color: #505050;
}

.journal-entry-image{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 2%;
}

/* Footer */

/* Combo classes */
footer, .footer-copyright{
    color: slategray;
}

.footer-site-name, .footer-copyright{
    font-size: .875em;
}

/* Individual classes */

footer{
    margin-top: 3.75em;
    text-align: center;
    border-top: solid 2px slategrey;
    padding: 2em 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 390px;
}

.footer-site-name{
    font-weight: 700;
    color: darkslategray;
}

.footer-copyright{
    font-weight: 400;
}

@media (min-width: 480px) and (max-width: 768px){

    /* Combo classes */
    .hero, .blog1-image{
        height: 35vh;
    }

    /* Individual classes */

    .hero{
        min-height: 278px;
    }

    .blog1-image{
        min-height: 240px;
        max-height: 292px;
    }

    .hero-text{
        top: 37%;
        left: 3.5%;
    }

    .journal-entries{
        grid-template-columns: auto auto;
        gap: 1.5em;
        justify-content: center;
    }

    .journal-entry{
        width: 42.5vw;
        max-width: 275px;
        min-width: 100px;
        height: 37vh;
        max-height: 530px;
    }

    .journal-entry-image{
        height: 45%;
        max-height: 225px;
    }
}

@media (min-width: 769px){

    /* Combo classes */
    .nav-core, .about-me-contents, .hero, .blog-contents, .journal-entries{
        max-width: 1095px;
    }

    .hero, .blog1-image{
        height: 48.5vh;
    }

    .page-subtitle, .recent-posts-title{
        font-size: 1.5em;
    }

    /* Individual classes */

    .about-me-contents{
        margin-top: 7em;
        padding-left: 3vw;
        padding-right: 3vw;
        grid-template-areas: 
        "image headline headline headline"
        "description description description description "
        ;
        row-gap: 1.25em;
    }

    .programmer{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .about-me-text{
       padding-left: 8.5vw;
       padding-right: 7vw;
    }

    .hero{
        min-height: 350px;
    }

    .blog1-image{
        min-height: 240px;
        max-height: 488px;
    }

    .hero-text{
        top: 57%;
        left: 4.89%;
        max-width: 700px;
    }

    .hero-date{
        font-size: 1rem;
    }

    .hero-text h1{
        font-size: 2.5rem;
        margin-top: .2em; 
        margin-bottom: .2em;
        line-height: 1em;
    }

    .recent-posts-title{
        margin-top: 3em;
        margin-bottom: 1em;
    }
    
    .journal-entries{
        grid-template-columns: repeat(3, auto);
        gap: 1.25em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3.313em;
        padding-right: 3.313em;;
    }

    .journal-entry{
        width: 30.5vw;
        max-width: 309px; 
        min-width: 100px;
        max-height: 393px;
    }

    .journal-entry-image{
        min-height: 184px;
    }

    footer{
        margin-bottom: 0px;
    }
}